/*--------------------------------------------------------------
Global
--------------------------------------------------------------*/
.reviewerwp-box .reviewerwp-review-title,
.reviewerwp-box .reviewerwp-review-summary,
.reviewerwp-box .reviewerwp-total-score {
	text-align: center;
}

.reviewerwp-box .criteria .review-label,
.reviewerwp-box .reviewerwp-review-summary {
	font-size: 0.85em;
}

.clearfix:after {
   content: " "; /* Older browser do not support empty content */
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}

/*--------------------------------------------------------------
Review Box
--------------------------------------------------------------*/
.reviewerwp-box {
	background: #eee;
	padding: 15px;
	margin-bottom: 30px;
	box-shadow: 0 0 3px 0px rgba(0,0,0,0.065);
	border: 1px solid rgba(0,0,0,0.05);
}

.reviewerwp-top .reviewerwp-box {
	float: left;
	width: 45%;
	margin-right: 30px;
}

.reviewerwp-bottom .reviewerwp-box .reviewerwp-review-summary {
	float: left;
	width: 80%;
	text-align: inherit;
	margin-bottom: 0;
}

.reviewerwp-bottom .reviewerwp-box .reviewerwp-total-score {
	float: right;
}

.reviewerwp-box .reviewerwp-box-inner {
	padding: 25px;
	border: 1px dashed rgba(0,0,0,0.1);
}

.reviewerwp-box .criteria {
	margin: 3px 0;
	padding: 0 1px;
	overflow: auto;
	opacity: 0.7;
	font-size: 1em;
}

.reviewerwp-box .criteria .review-score-number {
	float: right;
}

.reviewerwp-box .criteria .review-label {
	text-transform: uppercase;
}

.reviewerwp-box .review-score,
.reviewerwp-box .review-score .review-score-bar {
	border-radius: 2px;
	box-shadow: 0 0 2px 0 rgba(55,55,55,0.1);
}

.reviewerwp-box .review-score {
	background: rgba(255,255,255,0.6);
	margin-bottom: 15px;
}

.reviewerwp-box .review-score .review-score-bar {
	height: 6px;
	background: #939292;
}

.reviewerwp-box .reviewerwp-review-title,
.reviewerwp-box .reviewerwp-review-criterias,
.reviewerwp-box .reviewerwp-review-summary {
	margin: 0 0 25px;
}

.reviewerwp-box .reviewerwp-total-score {
	font-size: 2.2em;
	line-height: 1;
	opacity: 0.7;
}

/* Mobile */
@media only screen and (max-width:500px) {
	.reviewerwp-top .reviewerwp-box {
		float: none;
		width: 100%;
	}
}